<a href="https://colab.research.google.com/github/Solenluna/RealPythonPractise/blob/main/Chapter6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("3/5 = ",3/5)

3/5 =  0.6

In [7]:
#exponent
base = int(input("Enter a base:"))
power = int(input("Enter an exponent:"))
print(base,"to the power of", power, "=",base**power)

Enter a base:2
Enter an exponent:3
2 to the power of 3 = 8

In [12]:
#cube
def cube(number):
  """takes a number and cubes it, returning the result"""
  result = number * number
  result = result * number
  return result

test = int(input("Enter a number:"))
cube(test)

Enter a number:4

64

In [13]:
#multiply
def multiply(num1,num2):
  out = int(num1)*int(num2)
  return out

multiply(2,5)

10

In [15]:
#temperature
def convertToFahr(inCel):
  fahrTemp = (inCel * 9/5)+32
  return fahrTemp

def convertToCel(inFahr):
  celTemp = (inFahr-32) * 5/9
  return celTemp

print(convertToFahr(37))
print(convertToCel(72))

98.6
22.22222222222222

In [16]:
#loops
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

In [18]:
#whileLoop
i = 2
while (i < 11):
  print(i)
  i = i+1

2
3
4
5
6
7
8
9
10

In [21]:
#double
def doubles(input):
  i = 1
  result = input
  while(i<4):
    result = result * 2
    print(result)
    i = i+1

doubles(2)

4
8
16

In [25]:
#invest
def invest(amount, rate, time):
    print("Principal amount: £",amount)
    print("Annual rate of return:",rate)
    i = 1
    total = amount
    while(i<=time):
      total =  total + (total*rate)
      print("year",i,": £",total)
      i = i+1

invest(100, .05, 8)

Principal amount: £ 100
Annual rate of return: 0.05
year 1 : £ 105.0
year 2 : £ 110.25
year 3 : £ 115.7625
year 4 : £ 121.550625
year 5 : £ 127.62815624999999
year 6 : £ 134.00956406249998
year 7 : £ 140.71004226562496
year 8 : £ 147.7455443789062